<!-- Video section component (e.g. 'Enim vaadatud', 'Saatesoovitus') -->
<p class="header">{{section.header}}</p>

<div class="subheading-section">
  
  <button *ngIf="showLeftArrow" class="left-button" (click)="scrollLeft()"><img src="/assets/arrow.png" width="20" height="35"></button>

  <div class="scroll-row" #scrollContainer>
    <div *ngFor="let video of section.data" class="video-card">
      <img [src]="video.imageUrl" [alt]="video.heading" class="video"/>
    </div>

  </div>

  <button *ngIf="showRightArrow" class="right-button" (click)="scrollRight()"><img src="/assets/arrow.png" width="20" height="35"></button>
</div>
